body {
    color: #333333;
    margin-top: 5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3)), url("../static/backgroundimg.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-color {
    background-color: #013c4d;

  }
  
  .site-header .navbar-nav .nav-link {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #cd431e;
    font-size: 20px;
    font-weight: 500;

  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #F8F8F7;
  }
  
  .content-section {
    background: white;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 6px black;
  }

  .logo {
    width: 150px;
    height: auto;
  }
  
  .btn-md {
    background-color: #cd431e;
    color: white;
  }

  .btn-md:hover {
    background-color: #c16513;
  }
  
  .btn-orange {
    background-color: #cd431e;
    color: white; 
  }
  .btn-orange:hover {
    background-color: #c16513;
  }

  .container1 {
    height: 100%;
    position: relative;
    text-align: center;
  }

  .imagetext {

    border-radius: 10px;
    color: white;
    background-color: rgba(0,0,0,1);
    padding: 30px;
    padding-bottom: 40px;
    text-align: left;
    max-width: 100%;
    min-width: 300px;
    font-size: 12px;


  }

  #footer {
    position: fixed;
    padding-top: 5px;
    height: 40px;
    background-color: #5b6c5d;;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: black;
}