{% extends "layout.html" %}
{% block content %}
<style>
    h5 {
        padding-bottom: 10px;
    }
    .contentp {
        padding-left: 40px;;
        font-size: 15px;
    }
    #sectiontitle {
        text-align:center;
    }
</style>
<div class="content-section">
    <h3>Book Details -<a id="titlecolor"> {{ book.title }}</a></h3>
    <h6 class="card-subtitle text-muted mb-1">
    <table>
        <tr>
            <td>Author: </td><td class="tdata">{{ book.author }}</td>
        </tr>
        <tr>
            <td>Published: </td><td class="tdata">{{ book.year }}</td>
        </tr>
        <tr>
            <td>ISBN: </td><td class="tdata">{{ book.isbn }}</td>
        </tr>
    </table>
    <h5><i class="fab fa-goodreads iconcolor"></i> Goodreads rating</a></h5>
        <p class="contentp">The average rating on Goodsreads is {{ goodreads_rating }}</p>
        <p class="contentp">This is the average rating of {{ rating_num }} user ratings</p>
    {% if review %}
    <h5><i class="fas fa-user iconcolor"></i> Your rating</h5>
        <p class="contentp">{% for i in range(0,review.rating) %} 
            <i class="fas fa-star"></i>
            {% endfor %}
        </p>
    <h5><i class="fas fa-comment-alt iconcolor"></i> Your review</h5>
        <p class="contentp">{{ review.review }}</p>
    {% else %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="padding-top: 10px;"><h4>Review</h4></legend>
            <div class="form-group">
                <tr>
                    <td>{{ form.rating.label }}</td><br>
                    <td>{{ form.rating(class="radios form-check form-check-inline") }}</td>
                </tr>
            </div>
            <div class="form-group">
                {{ form.review.label(class="form-control-label") }}
                {{ form.review(rows="4", class="form-control form-control-md form-box") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-orange") }}
        </div>
    </form>
    {% endif %}
    <h5><i class="fas fa-users iconcolor"></i> Other Books user reviews</h5>
    {% for reviews in other_users %}
        <h6 style="padding-left: 30px;"><i class="fas fa-user"></i>&nbsp&nbsp{{ reviews.user_name }} says:</h6>
        <p class="contentp">{{ reviews.review }}</p>
    {% endfor %}
</div>
{% endblock content %}