{% extends "layout.html" %}
{% block content %}
    <div class="container1">
        <div class="imagetext">
        {% if username %}
            <h3 style="color:white">Welcome - {{ username }}</h3>
        {% else %}
            <h3 style="color:white;">Welcome</h3>
        {% endif %}
            <br>
            <p> This is a tool you can use to search for books within a database by using the
                title, author or ISBN number as keywords. You can then leave reviews on books of your
                choice.<br><br>

                This is a showcase of Python using Flask, Jinja2 and SQLAlchmey as well as the Goodreads API.<br><br>

                Thanks to Harvard's <a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript">CS50 Web Programming with Python & JavaScript</a> 
                course, Corey Schafer's excellent <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">YouTube Flask tutorials</a> as well as the Philip 
                Robinson Library @ Newcastle University for being a great place to hole up and code :)
            </p>
        </div>
            <img id="mainimg" src="/static/mainimg.jpg">
    </div>
{% endblock content %}